*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form, .product{
    margin: 50px auto;
    padding: 60px;
    max-width: 700px;
    width: 100%;
    background-color: #34495e;
    border-radius: 10px;
}
.product{
    position: relative;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
}
.submit{
    width: 100%;
    height: 50px;
    background-color: #27AE60;
    cursor: pointer;
    border: none;
    color: white;
}
.close{
    width: 40px;
    height: 40px;
    border-radius:  50%;
    border: none;
    background-color: red;
    color: white;
    position: absolute;
    right: -15px;
    top: -15px;
    opacity: 0;
    transition: all 1s;
}
#allProducts{
    text-align: center;
}

#container {
    margin: 20px;
    padding: 20px;
    border: 1px solid wheat;
    background-color:aqua;
    border-radius: 5px;
}

#srch {
    margin-bottom: 20px;
}

#search,
#searchBtn {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#sorted {
    margin-bottom: 20px;
}

#sort {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calculator {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin: 0;
    font-weight: bold;
}
#deleteProducts{
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s all;
}
#deleteProducts:hover{
    background-color: red;
}

#clearSearch {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s all;
}

#clearSearch:hover {
    background-color: #0056b3;
}

