@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* header start */

header{
  min-height: 740px;
  background-image: url("./images/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-h1{
  max-width: 734px;
  color: white;
  text-align: center;
  font-family: Oswald;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
.header-h4{
  max-width: 734px;
  color: white;
  text-align: center;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
/* header end */

/* about start */

.about{
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.experience{
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
  min-height: 300px;
  background: white;
  padding: 57px 130px;
  z-index: 1;
  margin-bottom: 100px;
}
.about-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.about-item{
  width: 190px;
  text-align: center;
}

.about-h4{
  color: #F7654A;
  font-family: Oswald;
  font-size: 72px;
  font-weight: 500;
}
.about-h5{
  font-family: Oswald;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.about-p{
  color: #999;
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
    .about-items{
        grid-template-columns: repeat(2,1fr);
    }
    .experience{
        padding: 57px 100px;
    }
}
@media screen and (max-width: 780px){
    .about-items{
        grid-template-columns: 1fr;
    }
}

/* about end */


/* project start */
.project {
  background-color:white; 
  text-align: center; 
  padding: 115px 0; 
  }
  
.project-h2 {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 500;
  color: #404149;
  margin-top: 100px; 
  }
    
.project-item {
  width: 100%;
  text-align: left;
  align-items: center;
 } 

.project-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  justify-items: center; 
  padding-top: 50px;
  }

.project-img{
  width: 350px;
  height: 380px;
  padding-bottom: 30px;
    }
  .project-h3{
  color: #404149;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}
.project-p{
  color: #999;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
  text-align: left;
  }

@media screen and (max-width: 1280px) {
    .project-items {
      grid-template-columns: repeat(2,1fr);
    }
    .project-item{
      padding: 0 30px;
    }
    .project-h2{
      padding-top: 150px;
    }
  }
@media screen and (max-width: 780px) {
    .project-items {
      grid-template-columns: repeat(1,1fr);
    }
    .project-item{
      padding: 0 100px;
    }
    .project-h2{
      padding-top: 600px;
    }
   } 

.about, .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
.line{
  width: 55px;
  height: 6px;
  background-color: #f7654a;
  }
  /* project end */

  /* smart-project start */

.smart-project{
  min-height: 181px;
  background-color: #F7654A;
  }
.texts{
  display: flex;
  justify-content: space-between;
    
  }
.text-1{
  padding-top: 30px;
  color: #FFF;
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.96px;
  }
.text-2{
  padding-top: 20px;
  padding-bottom: 45px;
  color: #FFF;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  }
.div-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 49px;
  margin-top: 73px;
  margin-bottom: 59px;
  background-color: #f0f0f0;
  }
.btn{
  color: #000;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border: none;
  }

/* smart-project end */

/* services start */

.services{
  text-align: center; 
  min-height: 496px;
}
.services-items{
  padding-top: 66px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services-item{
  width: 350px;
  height: 250px;
  background-color: #F7F7F7;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-h2{
  margin-top: 100px; 
  color: #000;
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.services-img{
  width: 60px;
  height: 40px;
  color:#F7654A;
  text-align: center;
  font-family: Font Awesome 5 Pro;
  font-size: 48px;
  font-weight: 400;
}
.services-h4{
  margin-top: 20px;
  width: 172px;
  height: 62px;
  color: #000;
  text-align: center;
  font-family: Oswald;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.42px;
}

@media screen and (max-width: 1280px) {
      .services-items{
          grid-template-columns: repeat(2,1fr);
      }
      .services{
          padding: 50px 100px;
      }
  }
@media screen and (max-width: 780px){
      .services-items{
          grid-template-columns: 1fr;
      }
  }
  /* services end */