.all-informations{
  margin-top: 100px;
  background: $blue-bg;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 160px;
  
  .information{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 45px;
    margin-left: 65px;
    margin-right: 70px;
    @include medium-screen{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin: 0;
    }

    .inform{
      min-width: 155px;
      color: $nav-link;
      font-size: 24px;
      font-weight: 800;
      line-height: 55px;
    }
    .inform-p{
      @include medium-screen{
        width: 500px;
       }
      width: 735px;
      color: $text-color;
      font-weight: 500;
      line-height: 30px;
    }
    
  }
  .gradient2{
    @include medium-screen{
      margin: 0;
     }
    width: 470px;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    background-image: $text-gradient;
    color: transparent;
    background-clip: text;
    margin: 60px 65px; 
  }
  .groups{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: 65px;
    margin-right: 60px;
    @include medium-screen{
      margin: 0;
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .group-h{
      color: $nav-link;
      font-size: 24px;
      font-weight: 800;
      line-height: 55px;
    }
    p{
      @include medium-screen{
        margin: 0;
        width: 200px;
      }
      color: $text-color;
      font-weight: 500;
      line-height: 30px;
      margin: 40px 5px;
    }
  }
}