.images-icon{
  margin-top: 100px;
 
  .icons{
    display: flex;
    justify-content: center;
    gap: 45px;
    @include medium-screen{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  }
}