.gallery-container {
  width: 1500px; 
  height: 500px; 
  overflow: auto; 
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color:rgb(255, 202, 138);

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(220, 20, 20, 0.3);
}