body{
    background-color:darkgrey;
    display: flex;
    justify-content: left;
    align-items: center;
}
div{
    background-color:burlywood;
    color:black;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
}
.numbers{
    width: 250px;
    height: 100%;
    border: 1px solid black;
}
.strings_container{
    width: 250px;
    height: 100%;
    border: 1px solid black;
}
.users_container{
    width: 300px;
    height: 100%;
    border: 1px solid black;
}
.user_card{
    background-color:aquamarine;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    font-size: 1.1em;
}