body{
    margin: 10px;
    padding: 10px;
}
table{
    border: 10px solid black;
    padding: 2px;
    margin: auto;
    
}
table:hover{
    cursor: pointer;
    border-width: 10px;
    border-color: brown;
    animation-play-state: running;
    transform: scale(1.9);
    transition: all 1.5s;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 2px solid black;
}
.img{
    width: 50px;
    height: 30px;
}

