*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 5px;
    width: 1512px;
    height: 70px;
    background-color: #1ABC9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    padding-left: 40px;
    width: 101px;
    height: 29px;
    top: 21px;
    left: 70px;
}
.nav{
    width: 357px;
    height: 34px;
    top: 18px;
    left: 577px;
    display: flex;
    font-size: 1.3rem;
}
.nav1, .nav2, .nav3{
    height: 34px;
    top: 18px;
}
.nav1{width: 76px; left: 577px;}
.nav2{width: 115px; left: 673px;}
.nav3{width: 126px; left: 808px;}
.social{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 40px;
    top: 15px;
    left: 1282px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.section{
    width: 756px;
    height: 694.38px;
    top: 70px;
}
.text{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1{
    padding-top: 100px;
    width: 135px;
    height: 53px;
    top: 288px;
    left: 1062px;
    font-size: 1.8rem;
    color: black;
}
.text2{
    padding-right: 50px;
    width: 624px;
    height: 182px;
    top: 364px;
    left: 818px;
    color: black;
}
.main{
    width: 1512px;
    height: 730px;
    top: 764px;
    background-color: #DCFFEB;
}
.project{
    margin-left: 60px;
    padding-top: 53px;
    width: 353.85px;
    height: 53px;
    top: 888px;
    left: 64px;
    font-size: 1.9rem;
    color: black;
}
.container-photos{
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-between
    ;
}

.photo1, .photo2, .photo3{
    width: 436.08px;
    height: 376.65px;
    top: 991.09px;
    left: 537.46px;
}
.cursor{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1065px;
    left: 267px;
}
.arena{
    position: absolute;
    left: 100px;
    top: 175%;
}
p{
    width: 400px;
    height: 300px;
    color: #FFFFFF;
    position: absolute;
    top: 180%;
    left: 100px;
}
.footer{
    margin: 20px;
    padding: 20px;
    font-size: 2rem;
    
}
.contacts-item{
    padding: 20px;
    margin: 20px;
    position: absolute;
    width: 1374px;
    height: 299px;
    top: 1578px;
    left: 69px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.con{
    width: 30px;
    height: 30px;
}
h4{
    margin-top: 20px;
    font-size: 1.5rem;
    color: gray;
}
h5{
    margin-top: 20px;
    width: 315.65px;
    height: 191px;
}
.red{color: #F7654A;}




